/*-------------
    RESET 
-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------
    DEBUG 
-------------*/
.row{
    display: flex;
    border: 2px dashed rgb(253, 3, 3);
    min-height: 600px;
}
.col-25{
    border: 2px dashed rgb(79, 104, 225);
    min-height: 300px;
    width: 25%;
}
.col-50{
    border: 2px dashed rgb(14, 228, 82);
    min-height: 300px;
    width: 50%;
}

/*-------------
    GENERAL
-------------*/
header{
    background-color: #FFFFFF;
    min-height: 60px;
    box-shadow: 0px 2px 4px #0000001A;
    margin-bottom: 15px;
}
body{
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}
.btn{
    padding: 7px;
    height: 45px;
    border-radius: 7px;
    font-size: 17px;
    cursor: pointer;
    background-color: transparent;
}
h2{
    font-size: 25px;
    margin-bottom: 20px;
}
p{
    color: #868686;
    margin-bottom: 10px;
    font-size: 17px;
    margin-bottom: 20px;
}
 
/*-------------
    HEADER
-------------*/
header > .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0px;
}
.logo{
    width: 60px;
    vertical-align: middle;
}
#search-bar{
    width: 250px ;
    height: 45px;
    vertical-align: middle;
    padding: 0px 10px;
    border-radius: 7px;
    border-color: #a3a3a34d;
    margin-left: 6px;
    font-size: 17px;
}
.log{
    background-color: #FFFFFF;
    border: none;
    color: #4B4B4B;
}
.log:hover{
    color: #3B45B6;
    text-decoration: underline;
    background-color: #F5F5F5;
}
.create{
    border-color: #3B45B6;
    color: #3B45B6;
}
.create:hover{
    background-color:#3B45B6;
    color: #fff;
    text-decoration: underline;
}
/*-------------
    WIDGET
-------------*/


