/*-------------
    RESET 
-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------
    DEBUG 
-------------*/
/* .row{
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed rgb(253, 3, 3);
} */
/* .col-25{
    border: 2px dashed rgb(79, 104, 225);
    min-height: 100px;
}
.col-50{
    border: 2px dashed rgb(14, 228, 82);
    width: 50%;
} */

/*-------------
    GENERAL
-------------*/
header{
    background-color: #FFFFFF;
    min-height: 60px;
    box-shadow: 0px 2px 4px #0000001A;
    margin-bottom: 25px;
    padding-top: 5px;
}
body{
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1180px;
    margin: 0 auto;
}
.btn{
    padding: 7px;
    height: 45px;
    border-radius: 7px;
    font-size: 17px;
    cursor: pointer;
    background-color: transparent;
}
h2{
    font-size: 20px;
    margin-bottom: 20px;
}
h3{
    font-size: 18px;
}
p{
    color: #868686;
    margin-bottom: 10px;
    font-size: 17px;
    margin-bottom: 20px;
}
.col-25{
    background-color: white;
    width: 25%;
    min-height: 100px;
    padding: 10px;
    border-radius: 7px;
}

 
/*-------------
    HEADER
-------------*/
/* header > .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
} */
.logo{
    width: 60px;
    vertical-align: middle;
}
#search-bar{
    width: 250px ;
    height: 45px;
    vertical-align: middle;
    padding: 0px 10px;
    border-radius: 7px;
    border-color: #a3a3a34d;
    margin-left: 6px;
    font-size: 17px;
}
.log{
    background-color: #FFFFFF;
    border: none;
    color: #4B4B4B;
}
.log:hover{
    color: #3B45B6;
    text-decoration: underline;
    background-color: #F5F5F5;
}
.create{
    border-color: #3B45B6;
    color: #3B45B6;
}
.create:hover{
    background-color:#3B45B6;
    color: #fff;
    text-decoration: underline;
}
/*-------------
    INFO SX
-------------*/
.info-sx .btn{
    display: block;
    width: 100%;
    margin-top: 10px;
}
/*-------------
 WIDGET DISCUSS
-------------*/
.widget ul{
    list-style: none;
    margin: 10px 0px;
}
.widget li{
    border-top: 1px solid #a3a3a34d;
    padding: 14px 0px;
}
.list-widget li a{
    text-decoration: none;
    color: #404040;
    font-weight: 200;
}
.list-widget li a:hover{
    color: #3B45B6;
}
.list-widget li div{
    color: #868686;
    padding-top: 10px;
}
.box-new{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #FCD34C;
    width: 40px;
    color: #78350F;
    border-radius: 7px;
    margin-top: 7px;
}
.widget small{
    color: #868686;
}
/*------------------
 WIDGET WATERCOOLER
-------------------*/
.watercooler{
    padding-top: 30px;
    border-top: 20px solid#F5F5F5;
}